@mixin text-style ($color, $font-size, $font-family) {
    color: $color;
    font-size: $font-size;
    font-family: $font-family;
}

.text{
    h1{
        @include text-style ($primary-color, 34px, 'Times New Roman');
    }
    p{
        @include text-style ($secundary-color, 20px, serif);
    }
}