body{
    background-color: #2c3e50;
    color: #ffffff;
    font-family: 'Times New Roman', Times, serif;
}
.Astronomy{
    color:#e74c3c;
}
#h1{  
    text-align: center;
    text-decoration: underline;
    font-family: geostar;
    margin: 0px auto 0px auto;
    border:#000000 2px solid;
    width: 60%;
}
#days-of-weeks h4{
    color: #f1c40f;
}
#days-of-weeks2 h2{
    background-color: #f1c40f;
    width: 15%;
    border: #000000 2px solid;
    color: #000000;
}
#Comentarios{
    color: #f1c40f;
    font-size: 30;
    font-weight: bold;
    line-height: 1.5;
    font-family: cursive;
    text-align: center;
}
